$pastelColors = {
  grey: #CFCFC4,
  purple: #B39EB5,
  brown: #836953,
  yellow: #FDFD96,
  magenta: #F49AC2,
  orange: #FFB347,
  green: #77DD77,
  darkGreen: #03C03C,
  blue: #AEC6CF,
  darkBlue: #779ECB,
  red: #FF6961,
  darkRed: #C23B22,
  white: #FFFFFF,
  black: #000000
}
