@require './colors.styl'

*:focus
  outline 0


body
  padding 20px
  width 900px
  margin 0 auto
  color: $pastelColors['blue']
  background-color: $pastelColors['black']

h1
  display block
  font-size 2em
  margin 10px 0