@require '../../styles/colors.styl'

.d-info-box
  padding 15px 0 15px 0
  border: 3px solid $pastelColors['green']
  margin 20px 0 20px 0

  & > div
    color: $pastelColors['green']
    font-weight 700
    text-align center
    text-transform uppercase
