div
    div.d-input-box
        div.d-input-box-display-container
            input.d-input-box-display(type="text", ng-model="message")
        div.d-input-box-action(ng-click="addMessageWrapper(message)") Add